@keyframes fade-in
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

@keyframes fade-out
{
	from
	{
		opacity: 1;
	}

	to
	{
		opacity: 0;
	}
}

@keyframes rotate-right
{
	from
	{
		transform: rotate(0);
	}

	to
	{
		transform: rotate(360deg);
	}
}

@keyframes rotate-left
{
	from
	{
		transform: rotate(360deg);
	}

	to
	{
		transform: rotate(0);
	}
}

@keyframes scale-in
{
	from
	{
		transform: scale(0);
	}

	to
	{
		transform: scale(1);
	}
}

@keyframes scale-out
{
	from
	{
		transform: scale(1);
	}

	to
	{
		transform: scale(0);
	}
}

@keyframes move-up
{
	from
	{
		transform: translateY(100%);
	}

	to
	{
		transform: translateY(0);
	}
}

@keyframes move-down
{
	from
	{
		transform: translateY(-100%);
	}

	to
	{
		transform: translateY(0);
	}
}

@keyframes move-right
{
	from
	{
		transform: translateX(-100%);
	}

	to
	{
		transform: translateX(0);
	}
}

@keyframes move-left
{
	from
	{
		transform: translateX(100%);
	}

	to
	{
		transform: translateX(0);
	}
}
