/**
 * @tableofcontents
 *
 * 1. fade
 *    1.1 in
 *    1.2 out
 * 2. rotate
 *    2.1 right
 *    2.2 left
 * 3. scale
 *    3.1 in
 *    3.2 out
 * 4. move
 *    4.1 up
 *    4.2 down
 *    4.3 right
 *    4.4 left
 */

/** @section 1. fade */

/** @section 1.1 in */

@keyframes fade-in
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

/** @section 1.2 out */

@keyframes fade-out
{
	from
	{
		opacity: 1;
	}

	to
	{
		opacity: 0;
	}
}

/** @section 2. rotate */

/** @section 2.1 right */

@keyframes rotate-right
{
	from
	{
		transform: rotate(0);
	}

	to
	{
		transform: rotate(360deg);
	}
}

/** @section 2.2 left */

@keyframes rotate-left
{
	from
	{
		transform: rotate(360deg);
	}

	to
	{
		transform: rotate(0);
	}
}

/** @section 3. scale */

/** @section 3.1 in */

@keyframes scale-in
{
	from
	{
		transform: scale(0);
	}

	to
	{
		transform: scale(1);
	}
}

/** @section 3.2 out */

@keyframes scale-out
{
	from
	{
		transform: scale(1);
	}

	to
	{
		transform: scale(0);
	}
}

/** @section 4. move */

/** @section 4.1 up */

@keyframes move-up
{
	from
	{
		transform: translateY(100%);
	}

	to
	{
		transform: translateY(0);
	}
}

/** @section 4.2 down */

@keyframes move-down
{
	from
	{
		transform: translateY(-100%);
	}

	to
	{
		transform: translateY(0);
	}
}

/** @section 4.3 right */

@keyframes move-right
{
	from
	{
		transform: translateX(-100%);
	}

	to
	{
		transform: translateX(0);
	}
}

/** @section 4.4 left */

@keyframes move-left
{
	from
	{
		transform: translateX(100%);
	}

	to
	{
		transform: translateX(0);
	}
}